.card {
    width: 250px;
    height: 320px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    /* border: solid 1px black; */
    transition: transform 0.3s;
    z-index: 1;
  }
  
  .card.hovered {
    transform: scale(1.05);
  }
  
  .photo {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: contain;
    position: relative;
  }
  
  .text-container {
    position: absolute;
    bottom: -80%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    /* background: linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.8) 15%); */
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    box-sizing: border-box;
    transition: bottom 0.3s;
  }
  
  .card.hovered .text-container {
    bottom: -50%;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .card.hovered .btn{
      visibility:visible;
  }
  .card.hovered .department{
    visibility:visible;

}
  .btn{
      visibility: hidden;
      padding: 10px;
      margin-left: 20%;
      position: absolute;
      bottom: -3%;
      right:-3%;
      padding: 10px;
  }

  .card-container {

    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  .image-container {
    position: relative;
  }
  .chip{
    margin-right: 5px; 
    margin-bottom: 5px;
  }
  .top-left {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
  }
  .top-right {
    position: absolute;
    top: 20%;
    right: 5%;
    padding: 10px;
  }
  
  .name {
    margin: 0;
    font-size: 20px;
    color: #000;
    font-weight: 700;

  }
  
  .department {
    color: #000;
    padding: 10px;
    position: absolute;
    top: 25% ;
    left: 1%;
    padding: 10px;
    visibility: hidden;
  }
    
  .text {
    margin: 0;
    color: #000;
    font-size: 14px;
    left: 1%;
  }